<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


<!-- ライブラリ読込 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<!-- グラフ描画エリア -->
<canvas id="myChart" ></canvas>

<!-- 以下、スクリプト -->
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        //線グラフ
        type: 'line',
        //データ
        data: {
            //各データの時間
            labels: ['09:30', '11:10', '13:00', '15:00', '18:30', '19:50'],
            //データセット
            datasets: [{
                label: '体温',
                data: [35.6, 35.8, 36.1, 35.5, 35.8, 36.0],
                borderColor: 'rgba(255, 99, 132, 1)', //線の色
                backgroundColor: 'rgba(255, 99, 132, 0.1)' //塗りつぶしの色
            }]
        },
        //グラフ設定
        options: {
            //凡例は非表示
            legend: {
                display: false
            },
            scales: {
                //X軸
                xAxes: [{
                    //軸ラベル表示
                    scaleLabel: {
                        display: true,
                        labelString: '時間'
                    },
                    //ここで軸を時間を設定する
                    type: 'time',
                    time: {
                        parser: 'HH:mm',
                        unit: 'hour',
                        stepSize: 1,
                        displayFormats: {
                            'hour': 'HH:mm'
                        }
                    },
                    //X軸の範囲を指定
                    ticks: {
                        min: '09:00',
                        max: '20:00'
                    }
                }],
                //Y軸
                yAxes: [{
                    //軸ラベル表示
                    scaleLabel: {
                        display: true,
                        labelString: '体温'
                    },
                    //Y軸の範囲を指定
                    ticks: {
                        min: 34.0,
                        max: 38.0
                    }
                }]
            }
        }
    });
</script>

</body>
</html>
