{% extends "layout.html" %}

{% block content %}

<div class="column is-8">
        <section>
            <div class="container">
                <div class="content">
                    <h1 class="title">
                        CPU temperature
                    </h1>
                        <canvas id="temperature"></canvas>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@latest/dist/chartjs-plugin-streaming.min.js"></script>
    <script>
        var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(231,233,237)'
        };
        var color = Chart.helpers.color;

        let json_data;
        function get_data(){
            $.ajax({
                url: "/model_value",
                method: "POST",
            })
            .done(function(data){
                json_data = JSON.parse(data.ResultSet);
                $('#len').html(json_data);
            });
            return json_data;
        };

        var stats = get_data();
        function update() {
            stats = get_data();
            console.log(stats);
            console.log(stats.data);
        }
        setInterval(update, 1000);


        var canvas = document.getElementById("temperature");
        canvas.style.backgroundColor = "rgba(255, 255, 255, 1)";
        var ctx = canvas.getContext('2d');
        ctx.canvas.height = 100;
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "CPU temperature",
                        data: [],
                        borderColor: color(chartColors.red).alpha(0.8).rgbString(),
                        backgroundColor: chartColors.red,
                        pointBackgroundColor: "white",
                        pointBorderColor: "white",
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [
                        {
                            scaleLabel: {
                                display: true,
                                labelString: "Current time",
                                fontSize: 16,
                                fontColor: "white"
                            },
                            ticks: {
                                fontSize: 18,
                                fontColor: "white"
                            },
                            type: 'realtime',
                            gridLines: {
                                color: "rgba(255, 255, 255, 0.5)",
                                lineWidth: 0.75
                            }
                        }
                    ],
                    yAxes: [
                        {
                            scaleLabel: {
                                display: true,
                                labelString: "Temperature  [℃]",
                                fontSize: 20,
                                fontColor: "white",
                            },
                            ticks: {
                                min: 0,
                                max: 100,
                                fontSize: 18,
                                stepSize: 20,
                                fontColor: "white",
                                showLabelBackdrop: false
                            },
                            gridLines: {
                                color: "rgba(255, 255, 255, 0.5)",
                                lineWidth: 0.75
                            },
                            pointLabels: {
                                fontColor: 'white'
                            }
                        }
                    ],
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 10,
                        bottom: 10
                    }
                },
                legend: {
                    position: 'top',
                    labels: {
                        fontColor: 'white',
                        fontSize: 18,
                    },
                },
                plugins: {
                    streaming: {
                        duration: 10000,
                        refresh: 1000,
                        delay: 1000,
                        frameRate: 30,
                        pause: false,
                        onRefresh: function(chart) {
                            chart.data.datasets[0].data.push({
                                x: Date.now(),
                                y: stats.data
                            });
                        }
                    },
                }
            }
        });

      Chart.plugins.register({
        beforeDraw: function(chartInstance) {
          var ctx = chartInstance.chart.ctx;
          ctx.fillStyle = "rgba(50, 50, 50, 1)";
          ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
        }
      })

</script>



{% endblock %}